//Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
//secondary-oranges
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7030;
//tertiary-blues
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
//Cinza claro
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
//Cinza Escuro
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
//Basicas
$color-white: #fff;
$color-black: #000;
$color-transparent: transparent;
//Grid
$grid-width: 114rem;
$gutter-vertial: 8rem;
$gutter-horizontal: 4rem;
//Font-sizes:
$default-font-size: 1.8rem;
//Border-Radius